---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: xdsbackends.xdsbackend.wtzhang23.github.io
spec:
  group: xdsbackend.wtzhang23.github.io
  names:
    kind: XdsBackend
    listKind: XdsBackendList
    plural: xdsbackends
    singular: xdsbackend
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          XdsBackend is a custom [BackendRef](https://gateway.envoyproxy.io/docs/api/extension_types/#backendref)
          for Envoy Gateway that allows configuring backends to use an external EDS server for endpoint discovery.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: XdsBackendSpec defines the xDS server and resource to use
              to fetch endpoints for the backend.
            properties:
              apiType:
                allOf:
                - enum:
                  - GRPC
                  - DELTA_GRPC
                  - REST
                - enum:
                  - GRPC
                  - DELTA_GRPC
                  - REST
                default: GRPC
                description: ApiType is the protocol to use to fetch endpoints for
                  the backend.
                type: string
              path:
                description: |-
                  Path is the path to the file to fetch endpoints for the backend. This should be used
                  only to fetch endpoints for the backend from a local file.
                properties:
                  path:
                    description: |-
                      Path is a path to the file to fetch endpoints for the backend. This should be used
                      only to fetch endpoints for the backend from a local file.
                    type: string
                  watchedDir:
                    description: |-
                      WatchedDir is a directory to watch for changes. If not specified, the directory will be
                      watched for changes.
                    type: string
                required:
                - path
                type: object
              server:
                description: |-
                  Server is the name of the xDS server to use to fetch endpoints for the backend. This name
                  must match the name configured in the xDS backend extension server.
                properties:
                  server:
                    description: |-
                      Server is the name of the xDS server to use to fetch endpoints for the backend. This name
                      must match the name configured in the xDS backend extension server.
                    type: string
                required:
                - server
                type: object
              service:
                description: |-
                  Service is the name of the service to use to fetch endpoints for the backend.
                  If not specified, the default name used by Envoy Gateway for the backend will be used
                  when requesting the endpoints from the xDS server.
                type: string
            required:
            - apiType
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
