# Default values for xds-backend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Envoy Gateway configuration
envoyGateway:
  # Namespace where Envoy Gateway is installed
  namespace: "envoy-gateway-system"
  # Service account name used by Envoy Gateway
  serviceAccountName: "envoy-gateway"
  rbac:
    # ClusterRole name for XdsBackend reader permissions
    clusterRoleName: "envoy-gateway-xds-backend-reader"
    # ClusterRoleBinding name
    clusterRoleBindingName: "envoy-gateway-xds-backend-reader-binding"

# Enable or disable the extension server deployment
# Set to false when deploying as a sidecar or using an external extension server
deployment:
  enabled: true

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: wtzhang23/xds-backend-extension-server
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: "latest" # If not set, the image tag will be the chart appVersion.

# Log level for the extension server (debug, info, warn, error)
logLevel: "info"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  # grpcPort must be explicitly set to a non-zero value to enable TCP listener
  # If set to 0, TCP listener will not be started
  grpcPort: 5005
  httpPort: 8080
  metricsPort: 8081
  # Enable plaintext gRPC endpoint (default: true)
  # Note: grpcPort must be explicitly set (non-zero) for TCP listener to be enabled
  enablePlaintext: true
  # TLS configuration for gRPC endpoint
  tls:
    # Enable TLS gRPC endpoint
    enabled: false
    # TLS gRPC port
    grpcPort: 5006
    # Secret name containing TLS certificate and key
    # The secret should have keys: tls.crt and tls.key
    # This secret must be created separately (e.g., using cert-manager or kubectl)
    # Example: kubectl create secret tls <secret-name> --cert=tls.crt --key=tls.key
    secretName: ""
    # Path to certificate file in the container (default: /etc/tls/tls.crt)
    certPath: "/etc/tls/tls.crt"
    # Path to key file in the container (default: /etc/tls/tls.key)
    keyPath: "/etc/tls/tls.key"

# Metrics configuration
metrics:
  # ServiceMonitor configuration for Prometheus Operator
  # More information: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api.md#servicemonitor
  serviceMonitor:
    # Enable ServiceMonitor creation
    enabled: false
    # Prometheus instance label selector
    # This should match the label selector used by your Prometheus instance
    prometheusInstance: ""
    # Additional labels to add to the ServiceMonitor
    labels: {}
    # Scrape interval for metrics
    interval: "30s"
    # Scrape timeout for metrics
    scrapeTimeout: "10s"

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}